<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Weather Forcast Details</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/DevExtremeBundle")
        @Scripts.Render("~/Scripts/bundle")
        @Scripts.Render("~/Scripts/CommonMethodHelpers")
        @Scripts.Render("~/Scripts/DevExtremeBundle")*@
    @Styles.Render("~/Content/bundle")
    @*<link href="~/Content/dx.common.css" rel="stylesheet" />
        <link href="~/Content/dx.light.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    <script src="~/Scripts/dx.all.js"></script>
    @Scripts.Render("~/Scripts/DevExtremeBundle")
<script src="~/Scripts/ForecastWeather/ForecastWeather.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div id="popupMessageContainer"></div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Weather Forcast Details", "Index", "ForecastWeather", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Live Weather", "Index", "ForecastWeather")</li>
                    <li>@Html.ActionLink("Hisorical Data", "GetHistoricalData", "ForecastWeather")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Weather Forcast Details</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
